{% extends "base.html" %}
{% block title %}
About us
{% endblock %}
{% block name %}
<!-- <h1> Pawan Maurya</h1> -->
<section id="about" class="py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-text-center">
          <h2 class="mb-4">About Me</h2>
          <p class="lead mx-auto" style="max-width: 800px;margin: 10px;padding: 20px;font-size: large;">
            Hi, I'm <strong>Pawan Maurya</strong>, a passionate Django developer with a love for creating scalable, 
            high-performance web applications. I specialize in back-end development, working with Python and Django 
            to turn innovative ideas into reality. With a knack for problem-solving and attention to detail, I ensure 
            every project meets high standards.
          </p>
          <p class="lead mx-auto" style="max-width: 800px;">
            My expertise includes building secure RESTful APIs, handling databases efficiently, and deploying applications. 
            From custom web solutions to integrating third-party services, I bring creativity and technical proficiency 
            to every project I work on.
          </p>
          <a href="#projects" class="btn btn-dark mt-4">Check Out My Work</a>
        </div>
      </div>
    </div>
  </section>
  
{% endblock %}

