<footer class="footer" style="margin-top:30px;background-color: rgb(11, 109, 194);height: 200px;width: 100%;text-align: center;font-size: xx-larger;font-family: sans-serif; padding: 20px;cursor: pointer;">
    <h1 style="color: white;">Welcome to footer</h1>
    <div style="margin: 10px;">
        <h3>Pawan Maurya - Django Developer</h3>
        <p style="font-size: larger;font-family: sans-serif; color: red;">
          Passionate about building scalable web applications using Django. 
          With experience in back-end development, databases, and integrating APIs, 
          I create clean, efficient, and maintainable code. Let's bring your ideas to life!
        </p>
        <div style="margin: 10px 0;">
          <a href="https://github.com/yourusername" target="_blank" style="color: #fff; margin: 0 10px;background-color: red;">GitHub</a>
          <a href="https://www.linkedin.com/in/yourusername/" target="_blank" style="color: #fff; margin: 0 10px;background-color: red;">LinkedIn</a>
          <a href="mailto:your.email@example.com" style="color: #fff; margin: 0 10px;background-color: red;">Email</a>
        </div>
        <p style="padding: 20px; font-size: large;color: rgb(222, 187, 206);">&copy; 2024 Pawan Maurya. All Rights Reserved.</p>
      </div>
</footer>